font-face {
  font-family: "sofia";
  src: url(../sofia/Sofia-Regular.ttf);
}
* {margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
p {
  font-family: "Sofia", 
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
} 
header {
    height: 100vh;
    width: 100vw;
    background-image: url(../pojetemie/images/bandit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;


}  
    
.navbar {
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    align-items: center;
    background-color: blue;

}
.navbar a {
    color: beige;
    font-size: 2em;
    font-weight: bold;
}

.navbar .logo {
  font-family: "sofia";
  src: url(../sofia/Sofia-Regular.ttf);
    font-size: 2.5em;
    color: crimson;
    font-weight: bold;
}
.nav-links ul {
    display: flex;
    
}
.nav-links ul li {
    font-size: 10px;
    margin: 0 50px;
}

.navbar .menu-hamburger {
    width: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
}
.mobile-menu {
    margin-left: 0;
}
.insta{
  position: absolute;
  top: 11px;
  right: 600px;
}
form {
  background-color: rgb(209, 149, 59);
  position: absolute;
  top: 50%;
  left: 0%;
  padding: 15px;
  border-radius: 15px;
  height: 400px;
  width: 700px;
  
}
form h1 {
  font-size: 40px;
}

form .separation {
  background-color: rgb(124, 122, 233);
  width: 100%;
  height: 1px;
}
form .corps-formulaire {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  
}
form .corps-formulaire .groupe {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
form .corps-formulaire .gauche .groupe  input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid rgb(124, 122, 233);
  outline-color: rgb(124, 122, 233) ;
  border-radius: 5px;
  outline: none;
}
form .corps-formulaire .gauche .groupe  i {
  position: absolute;
  left: 0;
  top: 25px;
  padding: 9px 8px;
  color: rgb(124, 122, 233);
}
form .corps-formulaire  .droite {
  width: 400px;
  margin-left: 40px;
}
form .corps-formulaire  .droite .groupe {
height: 100%;
}
form .corps-formulaire  .droite .groupe textarea {
margin-top: 5px;
padding: 10px;
height: 80%;
width: 100%;
background-color: aliceblue;
border: 2px solid rgb(124, 122, 233);
outline: none;
border-radius: 5px;
resize: none;
}

input[type="submit"] {
  position: absolute;
  top: 85%;
  left: 40%;
  margin-top: 10px;
  background-color: rgb(124, 122, 233);
  color: aliceblue;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}




@media screen and (max-width: 1000px) {
   .nav-links {
    transition: all 0.5s ease;
    margin-left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(245, 240, 240, 0.356);
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px);

   } 
   .nav-links.mobile-menu {
    margin-left: 0;
}
  .navbar .menu-hamburger {
    display: block;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar {
    padding: 0;
  }
  .nav-links ul li {
    margin: 25px 0;
    height: 60px;

  }
  .nav-links ul li a {
    color: red;
    font-weight: bold;
    font-size:  50px;
  }
  .header {
    background-image: url(../images/emiephoto2.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  .insta{
  position: absolute;
  top: 11px;
  right: 100px;
}
    }

